.modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.modal.active {
    transform: scale(1);
}

.modal-content {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    width: 466.04px;
    height: 638px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Добавляем крестик */

    position: relative;
}
.modal-close {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
}

.modal-close__line {
    display: block;
    width: 2px;
    height: 20px;
    background-color: #fff;
}

.modal-close__line1 {
    transform: rotate(45deg);
}
.modal-close__line2 {
    transform: rotate(-45deg);

    position: relative;
    bottom: 20px;
}

.user-title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #212542;
}

.fieldset:not(:nth-child(2)) {
    margin-bottom: 10px;
}
/*.fieldset:nth-child(2) {*/
/*    margin-bottom: 32px;*/
/*}*/



.image-replace {
    display: grid;
    grid-gap: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #212542;

}

.has-padding {
    padding: 16px;
    width: 282px;
}

.has-border {
    border: 1px solid #f4f5ff;
    border-radius: 8px;

    background-color: #fff;

    color: #212542;
}
.has-border::placeholder {
    color: rgba(33, 37, 66, 0.25);
}

/*.has-margin {*/
/*    margin-bottom: 32px;*/
/*}*/

.user-errors {
    color: red;
    /*margin-bottom: 24px;*/
}

.border-signUp {
    width: 282px;
    height: 60px;
    margin-bottom: 40px;
    border: none;
    background: linear-gradient(92.65deg, #dfebff -21.79%, #88adca 126.46%),
    #aecef3;
    border-radius: 69px;
    cursor: pointer;
}

.user-have-account {
    margin-bottom: 8px;
}

.user-transitional-link {
    color: #9dbcd7;
    border-bottom: 1px solid #9dbcd7;
    cursor: pointer;
}
