.modal {
    width: 100vh;
    height: 100vh;
    background-color: rgb(0,0,0,4 );
    position: fixed;
    top: 0;
    left: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
}

.modal.active {
    transform: scale(1);
}

.modal-content {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    height: 200px;
    width: 200px ;
}
