.productCard-body {
    display: flex;
    gap: 48px;
    margin-bottom: 120px;
}


.productCard-img {
    width: 654px;
    height: 524px;
    background-color: #f1f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}


.content-cupon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 28px;
    background-color: #f2f2fa;
    border-radius: 26px;
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

.content-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
}

.content-description {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 8px;
}

.content-text {
    width: 498px;
    height: 198px;
    margin-bottom: 40px;

}

.content-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(33, 37, 66, 0.7);
}

.chocolate-text {
    margin-bottom: 32px;
}

.content-amount {
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 48px;
}

.amount-price {
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    color: rgba(33, 37, 66, 0.7);
}

.amount-button {
    display: flex;
    align-items: center;
    gap: 16px;
}

.amount-button-item {
    width: 32px;
    height: 32px;
    border-radius: 20px;
    background: #eeeeee;
    cursor: pointer;
    border: none;
}

.wrapper__content-button {
    display: flex;
    align-items: center;
    gap: 32px;
}

.content-img {
    display: flex;
    align-items: center;
    gap: 8px;
}

.content-button {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background: linear-gradient(92.65deg, #DFEBFF -21.79%, #88ADCA 126.46%), #AECEF3;
    border-radius: 69px;
    color: #fff;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

.spinner {
    animation-name: spin;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

