.header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.user-link {
    cursor: pointer;
    background: none;
}

.logOut-user {
    background: linear-gradient(92.65deg, #DFEBFF -21.79%, #88ADCA 126.46%), #AECEF3;
    border-radius: 69px;
}
