.header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.user-link {
    cursor: pointer;
    background: none;
}

.logOut-user {
    background: none;
}
